<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name ="mydb" connectionString="Server=whyfi8888.ddns.net;Port=13307;uid=gudi06;pwd=gudi06;database=gudi06"/>
  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>