<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name ="mydb" connectionString="Server=gudiproject.cd1iqr7fkgsn.ap-northeast-2.rds.amazonaws.com;uid=dydrkfsladl;pwd=lee910613;database=mydb"/>
  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>